snippet html5 "basic skeleton for html5"
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<title>${1:My great website}</title>
			<meta name="description" content="${2:The greatest website on earth}" />
			<meta name="author" content="${3:Samuel Roeca}" />${4:
			<link rel="stylesheet" href="${5:style/custom.css}">}
		</head>
		<body>
			$6
		</body>
	</html>
