snippet help "Generate help target"
	.PHONY: help
	help: ## Prints each target and its associated help message
		@grep -E '^[a-zA-Z_-]+:.*?## .*$$' $(MAKEFILE_LIST) | \
			awk 'BEGIN {FS = ":.*?## "}; {printf "\033[36m%-30s\033[0m %s\n", $\$1, $\$2}'
	$1
snippet phony "New PHONY target"
	.PHONY: $1
	$1: ## ${2:Description}
		${3:echo 'hello, world'}
