snippet mentor "Mentor / mentee goals discussion"
	Mentor/Mentee Goals Discussion: ${1:YYYY-MM-DD}

	## 1 or 2 abstract goals

	- ${2:Goals}

	## 1 or 2 discrete methods

	- ${3:Discrete_Methods}

	## 1 of the aforementioned methods

	- ${4:Aforementioned_Methods}
snippet shortcut "Create a shortcut story"
	## Objective

	${1}

	## Value

	${2}

	## Acceptance Criteria

	${3}
snippet standup "Create a standup message"
	*Yesterday:*

	- ${1}

	*Today:*

	- ${2}

	*Blockers/Reminders:*

	- ${3}
