;.editorconfig

root = true

[**.js]
indent_style = space
indent_size = 2
max_char = 79
brace_style = collapse,preserve-inline

[**.json]
indent_style = space
indent_size = 2
max_char = 79

[**.jsx]
e4x = true
indent_style = space
indent_size = 2
max_char = 79
brace_style = collapse,preserve-inline

[**.css]
indent_style = space
indent_size = 2
max_char = 79

[**.html]
indent_style = space
indent_size = 2
max_char = 79
brace_style = expand
