[user]
  email = samuel.roeca@gmail.com
  name = Sam Roeca
[core]
  editor = nvim
  autocrlf = input
  safecrlf = true
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[merge "ours"]
  driver = true
[push]
  default = matching
[commit]
  verbose = true
