@-moz-document url("chrome://browser/content/browser.xul") {
  /*
  Numbered tabs
   */
  #TabsToolbar {
    counter-reset: numkeyidx;
  }
  #TabsToolbar .tabbrowser-tab:-moz-any(:nth-of-type(-n+8), :last-of-type) {
    counter-increment: numkeyidx;
  }
  #TabsToolbar .tabbrowser-tab .tab-content {
    position: relative;
  }
  #TabsToolbar .tabbrowser-tab:-moz-any(:nth-of-type(-n+8), :last-of-type) .tab-content::after {
    content: counter(numkeyidx);
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.2em;
    width: 1em;
    opacity: .6;
    text-align: center;
    pointer-events: none;
    color: var(--chrome-background-color);
    background-color: var(--chrome-color);
  }
  #TabsToolbar .tabbrowser-tab[visuallyselected="true"] .tab-content::after {
    top: 2px;
    font-size: smaller;
    opacity: .3;
  }
}
